
*__pycache__*
*output*
*.pkl_memoize_py3*
list_structure.py
*.egg-info/
*tmp*
*key.py*
test.py
constraintflow/nets/
generation/prompt/
test_models_scripts/

*MNIST*/
*nets*/
*cifar-10-python.tar.gz*
*cifar-10-batches-py/
**precision_results**
*data*
*checkpoints*
*logs*
